body {
  background: rgba(255, 255, 156, 0.6);
}

h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 44px;
}

.croissantIcon {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px double darkviolet;
  width: 300px;
}

a {
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
}
.photos,
.contact {
  border: 4px double blueviolet;
  border-radius: 4px;
  padding: 20px 40px;
  margin: 100px 30px;
}

.email {
  display: block;
  text-align: center;
  font-size: 44px;
}

.backButton {
  display: block;
  text-align: center;
  margin-top: 100px;
}
